<head>
    <link rel="stylesheet" href="app.component.css">
</head>

<!-- <input type="text" class="textBox" (input)="handle($event)"/>
<input type="text" class="textBox" (input)="handle2($event)"/>
<button mat-raised-button color="primary" #btn (click)="add()">add</button> -->
<!-- <ng-container *ngFor="let Value of Values.slice(1).reverse() " > -->
    <!-- <router-outlet [Value] = "Value" *ngIf="addClicked"></router-outlet> -->
<!-- </ng-container> -->
<!-- <app-kpi></app-kpi> -->
<router-outlet></router-outlet>
<!-- <product></product> -->
<!-- <app-chart></app-chart> -->

