<head>
    <link rel = "stylesheet" href="product.css">
  
  </head>
  <!-- <button mat-raised-button color="primary" #btn (click)="add()">add</button> -->
  <!-- <input type = "text" (input)="insert($event)"/>
  <input type = "text" (input) = "insert1($event)"/> -->
  
<input type="text" class="textBox" (input)="handle($event)"/>
<input type="text" class="textBox" (input)="handle2($event)"/>

<button mat-raised-button color="primary" #btn (click)="add()">add</button>
<a routerLink = "/login">login</a>
<a routerLink = "/register">Register</a>
<ng-container *ngIf="!addClicked">
  <p>Click Add!!</p>
</ng-container>
<ng-container *ngFor="let Value of Values.slice(1).reverse() " >
  <ul class="overflow_container" style = "list-style-type:none" >
    <li class="overflow_subcontiner">{{Value.inputVal1| titlecase}}</li>
    <li class="overflow_subcontiner" id = "value2">{{Value.inputVal2| titlecase}}</li>
    <li class="overflow_subcontiner" id="D3_graph"><app-chart></app-chart></li>
  </ul>
</ng-container>
  

  